.navbar{
  height: 50px;
  background-color: rebeccapurple;
  color: white;
  display: flex;
  align-items: 'center';
  justify-content: space-around;
  }
.logintitle{
 margin-left: 450px;
 color: black;
 background: #FFFFFF;
 text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;
}
  .logo{
    font-weight: 500;
    margin-top: 10px;
    font-size: 18px;
  }
  .list{
    display: flex;
    align-items: center;
    list-style: none;
  }

  .listItem{
    margin-right: 20px;
    font-weight: 500;
    cursor: pointer;
  }

  .cards{
     height: 40%;
     width: 60%;
     margin: 25%;
     border-radius: 10px;
     color: #e0dfdc;
     cursor: pointer;
     background: #556677;
     letter-spacing: .1em;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0,0,0,0.9);
    -webkit-box-shadow: 12px 13px 50px 19px #000000; 
    box-shadow: 12px 13px 50px 19px #000000;

  }

  .login{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
  }
  .Logo{
    height: 100px;
  }
  .wrapper{
    width: 60%;
    height: 75%;
    -webkit-box-shadow: 16px 13px 15px 2px #000000; 
    box-shadow: 16px 13px 15px 2px #000000;
    display: flex;
    align-items: center;
    border-radius: 20px;
  }

  .left, .right{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .center{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

  }


  .or{
    border: 2px solid lightgray;
    margin-top: 150px     ;
    margin-left: 1px;
    border-radius: 50%;
    padding: 28px;
    background-color: white;
    font-weight: bold;
  }

  .line{
    width: 0.5px;
    height: 70%;
    background-color: lightgray;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin:auto;
    z-index: -1;
  }

  .loginButton{
    width: 150px;
    padding: 15px 25px;
    border-radius: 5px;
    color: white;
    background-color: green;
    border: none;
    margin: 3%;
  }


  .avatar{
    height: 30px;
    width: 50px;
    border-radius: 50%;
  }

  .link{
    color: white;
    font-weight: bolder;
    list-style-type: none;
    cursor: pointer;
    margin-top: 10px;

  }